/* Default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-image: url(img/cork.png);
}
main {
    padding-left: 17%;
    padding-top: 3%;
    padding-bottom: 1%;
}




/* Header */
header {
    background-color: aqua;
    height: 100px;
}
h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    font-family: "Edu TAS Beginner", sans-serif;
}

/* Main */
.container {
    height: 700px;
    width: 900px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}
.box {
    background-color: gold ;
    width: calc(97% / 3);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.immagine {
    background-color: aqua;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.img {
    width: 100%;
    height: 100%;
}
.testo {
    background-color: coral;
    font-family: "Sometype Mono", monospace;
}

